@use "sass:color";

/*

Styling to-do:
- shadows & item selection look awkward in dark mode
- clean up this file, move whatever we don't need at a high level into sub-files
- do we like the field input styles?
- can we isolate and define any magic numbers?
- panel-border-size/overlay-border-size is confusing
*/

// General style settings & variables
$font-family: 'Arial', sans-serif;
@mixin link-style {
    text-decoration: none;
    color: rgb(20, 109, 56);

    &:hover {
        text-decoration: underline;
    }
}

$text-size-multiplier: 1.0;

$title-text-size: calc(1.4rem * $text-size-multiplier);
$large-text-size: calc(1rem * $text-size-multiplier);
$medium-text-size: calc(0.9rem * $text-size-multiplier);
$small-text-size: calc(0.8rem * $text-size-multiplier);
$xs-text-size: calc(0.7rem * $text-size-multiplier);

$app-bg-color: #000; // for header on mobile safari
$container-bg-color: #777; // color behind canvas, if canvas is not full screen
$canvas-bg-color: #fff; // default canvas background color
$canvas-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

$panel-animation-duration-quick: 0.3s;
$panel-animation-duration-slow: 0.7s;

// Panels
$panel-bg-color: rgb(18, 18, 7);
$panel-fg-color: rgb(193, 242, 189);
$panel-width: 16rem;
$panel-border-radius: 0.5rem;

// Panel details
$panel-border-size: 1px;
$panel-border-color: rgba($panel-fg-color, 0.25);

// Specifics for overlaid panels
$panel-edge-inset: 0.5rem;
$panel-bg-opacity: 0.75;
$panel-bg-filter: blur(1rem);
$panel-min-height: 0%; // overlaid panels are at least this tall
$panel-overlay-border-size: 0px; // optional override for $panel-border-size

// Panel content
$panel-content-inset: 0.75rem;

// Panel headers
$panel-header-section-spacing: 0.5rem;

// Group selector
$group-colors: green;
$group-selector-item-spacing: 0.25rem;
$group-selector-item-padding: 0.25rem 0.75rem;

// Project list
$project-list-item-spacing: 0.25rem;
$project-list-item-padding: 0.75rem;

// Preset control
$preset-control-item-spacing: 0.25rem;
$preset-control-item-padding: 0.25rem 0.75rem;

// Parameter general
$parameter-item-spacing-vertical: 0.25rem;
$parameter-item-spacing-horizontal: 0.75rem;
$parameter-item-padding-vertical: 0.5rem;
$parameter-label-max-width: 50%;
$border-radius: 0.5rem; // move elsewhere // ok against panel corner?

// Parameter sections
$parameter-section-gap: calc($parameter-item-padding-vertical * 2);
$parameter-section-header-color: rgba($panel-fg-color, 0.7);
$parameter-section-divider: 1px solid $parameter-section-header-color;

// Parameter items
$param-fg-color: $panel-fg-color;
$param-field-bg-color: rgba(color.scale($panel-bg-color, $saturation: -90%), 0.9);
$param-accent-color: rgba(color.scale($panel-fg-color, $saturation: -90%), 0.3);
$param-light-accent-color: rgba(color.scale($panel-fg-color, $saturation: -90%), 0.1);

$field-input-border: 1px solid $param-accent-color;
$field-input-border-radius: 0.25rem;

$param-input-item-min-width: 2rem;
$param-input-item-partial-width: 4rem;

$checkbox-input-size: 0.9rem;

// More specific styles are available in each of these files
@import '$lib/styles/params.scss';
@import '$lib/styles/detail-panel.scss';
@import '$lib/styles/list-panel.scss';
@import '$lib/styles/panel-base.scss';
@import '$lib/styles/util.scss';
