@use "sass:color";

// General style settings & variables
$font-family: 'Helvetica', sans-serif;
@mixin link-style {
    text-decoration: none;
    color: rgb(20, 109, 56);

    &:hover {
        text-decoration: underline;
    }
}
$title-text-size: 1.4rem;
$large-text-size: 1rem;
$medium-text-size: 0.9rem;
$small-text-size: 0.8rem;
$xs-text-size: 0.7rem;

// Panel buttons
@mixin panel-show-button {
    font-size: 0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    margin: calc($panel-edge-inset / 2);
    border-radius: calc($panel-border-radius / 2);
    opacity: 0.7;
}
$panel-animation-duration-quick: 0.3s;
$panel-animation-duration-slow: 0.7s;

// Panels
$panel-width: 16rem;
$panel-min-height: 0%; // ignored if settingsStore.overlayPanels is true
$panel-edge-inset: 0.5rem; // ignored if settingsStore.overlayPanels is false
$panel-border-radius: 0.5rem; // ignored if settingsStore.overlayPanels is false
$panel-bg-color: rgba(255, 254, 233, 0.85);
$panel-bg-filter: blur(1rem);
$panel-shadow-size: 0.5rem;
$panel-shadow-color: rgba(0, 0, 0, 0.3);
$panel-border-size: 1px;
$panel-overlay-border-size: 1px;
$panel-border-color: rgba(0, 0, 0, 0.1);
$panel-shadow: 0 calc($panel-shadow-size / 2) $panel-shadow-size $panel-shadow-color;
$panel-border: $panel-border-size solid $panel-border-color;

// Panel content
// todo: should the following two be the same variable?
$panel-content-inset: 0.75rem;
$panel-section-spacing: 0.75rem;
@mixin panel-button {
    font-size: $small-text-size;
    color: rgba(0, 0, 0, 0.5);
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.1);
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.55);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.07);
        color: rgba(0, 0, 0, 0.6);
    }
}

// Panel headers
$panel-header-section-spacing: 0.5rem;
@mixin title-text {
    @include word-wrap;
    font-size: $title-text-size;
    font-weight: bold;
}
@mixin subtitle-text {
    font-size: $medium-text-size;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}
@mixin description-text {
    font-size: $medium-text-size;
    font-weight: normal;
}

// Group selector
$group-colors: green, cyan, purple;
$group-selector-item-spacing: 0.25rem;
$group-selector-item-padding: 0.25rem 0.75rem;
@mixin group-selector-item {
    // Group selector item layout
    padding: $group-selector-item-padding;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    font-size: $small-text-size;
    font-weight: bold;
    
    // Group colors
    @for $i from 1 through length($group-colors) {
        &.group-#{$i} {
            background: rgba(nth($group-colors, $i), 0.05);
            &.selected {
                background-color: rgba(nth($group-colors, $i), 0.5);
            }
        }
    }

    // More selected behavior
    $group-selected-shadow-size: 0.07rem;
    margin-bottom: calc($group-selected-shadow-size * 2);
    &.selected {
        box-shadow: 0 $group-selected-shadow-size $group-selected-shadow-size rgba(0, 0, 0, 0.3);
    }
}

// Project list
$project-list-item-spacing: 0.25rem;
$project-list-item-padding: 0.75rem;
@mixin project-list-item {
    @include ellipsis;

    // Project list item layout
    font-size: $medium-text-size;
    margin: 0 calc($panel-content-inset / 2);
    padding: $project-list-item-padding calc($panel-content-inset / 2);
    border-radius: 0.5rem;

    // Even & odd backgrounds
    &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0);
    }
    &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.03);
    }

    // Selected behavior
    &.selected {
        background-color: rgba(0, 0, 0, 0.07);
        box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
        font-weight: bold;
    }

    // Hover behavior
    &:hover:not(.selected) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    // Experimental icon
    .experimental {
        font-size: $xs-text-size;
        color: rgba(0, 0, 0, 0.5);
        padding-right: calc($panel-content-inset / 2);
    }
}

// Preset control
$preset-control-item-spacing: 0.25rem;
$preset-control-item-padding: 0.25rem 0.75rem;
@mixin preset-control-item {
    // Group selector item layout
    padding: $preset-control-item-padding;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    font-size: $small-text-size;
    font-weight: bold;
    color: black;
    background-color: rgba(0, 0, 0, 0.07);
    $shadow-size: 0.0frem;
    box-shadow: 0 $shadow-size $shadow-size rgba(0, 0, 0, 0.3);
}

// Parameter general
$parameter-item-spacing-vertical: 0.25rem;
$parameter-item-spacing-horizontal: 0.75rem;
$parameter-item-padding-vertical: 0.5rem;
$parameter-label-max-width: 50%;
$border-radius: 0.5rem; // move elsewhere // ok against panel corner?

// Parameter sections
$parameter-section-gap: calc($parameter-item-padding-vertical * 2);
$parameter-section-header-color: rgba(0, 0, 0, 0.7);
$parameter-section-divider: 1px solid $parameter-section-header-color;
@mixin param-section-header {
    color: $parameter-section-header-color;
    font-size: $xs-text-size;
    text-transform: uppercase;
    font-weight: bold;
    padding:
        0
        $panel-content-inset
        $parameter-item-padding-vertical
        $panel-content-inset;
}

// Parameter items
$param-fg-color: color.scale(black, $lightness: +10%);
$param-field-bg-color: rgba(255, 255, 255, 0.7);
$param-accent-color: rgba(0, 0, 0, 0.3);
$param-light-accent-color: color.scale($param-accent-color, $lightness: +70%);

$field-input-border: 1px solid $param-accent-color;
$field-input-border-radius: 0.25rem;

$param-input-item-min-width: 2rem;
$param-input-item-partial-width: 4rem;

$checkbox-input-size: 0.9rem;

@mixin parameter-item {
    font-size: $medium-text-size;
    margin: 0 calc($panel-content-inset / 2);
    padding: $parameter-item-padding-vertical calc($panel-content-inset / 2);

    &.even {
        background-color: rgba(0, 0, 0, 0);
    }
    &.odd {
        background-color: rgba(0, 0, 0, 0.03);
    }
}
@mixin parameter-input-disabled {
    opacity: 50%;
    pointer-events: none;
}
@mixin parameter-label {
    font-size: $small-text-size;
    font-weight: bold;
}
@mixin string-parameter-input {
    $background-color: $param-field-bg-color;
    color: $param-fg-color;
    font-size: $xs-text-size;
    line-height: $xs-text-size;
    border: $field-input-border;
    border-radius: $field-input-border-radius;
    background-color: $background-color;
    padding: 0.15rem 0.25rem;
}
@mixin function-parameter-input {
    $background-color: $param-light-accent-color;
    color: $param-fg-color;
    font-size: $xs-text-size;
    outline: $field-input-border;
    border-radius: 1rem;
    font-weight: bold;
    background-color: $background-color;
    padding: 0.1rem 0.75rem;

    &:active {
        background-color: color.scale($param-accent-color, $lightness: +40%);
    }
}

// Panel footers
@mixin footer-text {
    font-size: $xs-text-size;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}
@mixin footer-link-style {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

// todo: move to a separate file...

// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
@mixin word-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

// todo: absorb this into places where I'm doing this as a one-off
@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }